apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: kaniko-build
  namespace: ci-pipeline
spec:
  params:
    - name: contextDir
      type: string
    - name: image
      type: string
  workspaces:
    - name: shared
  steps:
    - name: build
      image: gcr.io/kaniko-project/executor:latest
      args:
        - --dockerfile=/workspace/shared/repo/$(params.contextDir)/Dockerfile
        - --context=/workspace/shared/repo/$(params.contextDir)
        - --destination=$(params.image)