apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: maven-build
spec:
  params:
    - name: contextDir
      type: string

  workspaces:
    - name: shared
    - name: maven-repo
    - name: maven-settings

  stepTemplate:
    volumeMounts:
      - name: maven-settings
        mountPath: /workspace/settings
      - name: maven-repo
        mountPath: /workspace/maven-repo
      - name: shared
        mountPath: /workspace/shared

  steps:
    - name: mvn
      image: maven:3.9.0-eclipse-temurin-17
      workingDir: /workspace/shared/repo/$(params.contextDir)
      script: |
        echo "[MAVEN] Current directory:"
        pwd
        ls -l

        echo "[MAVEN] Running build..."
        mvn -s /workspace/settings/settings.xml \
            -Dmaven.repo.local=/workspace/maven-repo \
            clean package
