apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: maven-build
spec:
  params:
    - name: contextDir
      type: string
      default: .
  workspaces:
    - name: shared

  steps:
    - name: mvn
      image: maven:3.9.6-eclipse-temurin-17
      workingDir: $(workspaces.shared.path)/repo/$(params.contextDir)
      script: |
        mvn clean package -DskipTests
