spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/microservices-realm

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: service-utilisateur
          uri: lb://SERVICE-UTILISATEUR
          predicates:
            - Path=/api/users/**
          filters:
            - name: TokenRelay
              args:
                excluded-paths: /api/users/register,/api/users/login
            - name: Retry
              args:
                retries: 3
                statuses: SERVICE_UNAVAILABLE,GATEWAY_TIMEOUT
                methods: GET,POST
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600

server:
  port: 9090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
