apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      # nodePort utilisé pour accès externe (optionnel) :
      # nodePort: 32080
  # Si tu veux que l'API soit accessible depuis l'extérieur du cluster :
  type: NodePort
